/* variables start */
:root {
  --primary-color: #212529;
  --secondary-color: #465e6a;
  --bg-color: #f8f8f8;
  --overlay-bg-color: #ffffffe6;
  --footer-bg-color: #f1f1f1;
  --white-color: #fff;
  --red-color: #da0909;
  --grey-color: #808080da;
  --border-color: #ebebeb;
  --text-color: #555353;
  --facebook-color: #3b5999;
  --twitter-color: #1da1f2;
  --pinterest-color: #cb2028;
  --google-color: #fe6d4c;
  --shadow-color: #00000033;
  --font-family: Poppins, sans-serif;
}
/* variables end */

/* common start */
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
  font-family: var(--font-family);
}

img {
  height: auto;
  width: 100%;
  user-select: none;
  object-fit: contain;
}

a {
  color: var(--primary-color);
}

p {
  font-size: 1.2rem;
}

.container {
  overflow-x: hidden;
  padding: 2.5rem 12rem;
}

::selection {
  background-color: var(--red-color);
  color: var(--white-color);
}
/* common end */

/* loader start */
#loadingDiv {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}

.loader {
  width: 9.5rem;
  height: 9.5rem;
  background: center / contain no-repeat url(../images/loader.gif);
}
/* loader end */

/* cursor start */
#cursor {
  position: absolute;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  z-index: 90;
  transition: 0.1s ease-out;
  background-color: var(--red-color);
  pointer-events: none;
  box-shadow: 0 0 0.2rem var(--pinterest-color);
}
/* cursor end */

/* scrollbar start */
::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem var(--grey-color);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--red-color);
  border-radius: 1rem;
}
/* scrollbar end */

/* navbar start */
.navbar-right {
  display: flex;
  justify-content: flex-end;
}

.navbar-p {
  font-weight: 600;
  color: var(--secondary-color);
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

h1 span,
.product-price {
  color: var(--red-color);
}

.shopping-cart-img {
  width: 4rem;
}
/* navbar end */

/* filter start */
.filters {
  display: flex;
  justify-content: center;
}

.filter-option {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  margin: 5rem 2rem;
  color: var(--secondary-color);
  font-family: var(--font-family);
}

.filter-option:hover {
  color: var(--grey-color) !important;
}

.filter-option:active {
  transform: scale(0.98);
}
/* filter end */

/* overlay start */
.overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 80;
  background-color: var(--overlay-bg-color);
}

.product-img-box:hover .overlay {
  visibility: visible;
  transition: all 0.5s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.overlay-link {
  right: 1rem;
  width: 4rem;
  height: 4rem;
  position: absolute;
  border-radius: 50%;
  border: 0.1rem solid var(--primary-color);
  padding: 0.8rem;
}

.overlay-link:hover {
  background-color: var(--border-color);
}

.overlay-info {
  position: absolute;
  bottom: 0;
  padding-bottom: 1.5rem;
}

.overlay-info p {
  font-size: 1.5rem;
  color: var(--text-color);
}

.overlay-info h2 {
  font-size: 1.7rem;
  color: var(--primary-color);
}

.arrow-img {
  transform: rotate(-93deg);
}
/* overlay end */

/* products start */
#product-section {
  margin-bottom: 9rem;
}

.product-item {
  background-color: var(--white-color);
  border: 0.1rem solid var(--border-color);
  padding: 2.5rem 2.5rem 1.5rem;
  width: 24rem;
  margin: 1.5rem;
  display: inline-block;
}

.product-img-box {
  position: relative;
}

.product-list {
  flex-wrap: wrap;
}

.product-price,
.btn-add-cart {
  font-weight: 600;
}

.product-price {
  font-size: 1.6rem;
}

.btn-add-cart {
  font-size: 1.6rem;
  color: var(--primary-color);
}

.product-img {
  height: auto;
  user-select: none;
  padding: 1.5rem 0;
}

.product-content {
  display: flex;
  padding-top: 2rem;
  justify-content: space-between;
}

hr {
  background-color: var(--border-color);
  width: 100%;
  height: 0.1rem;
}

.num {
  position: absolute;
  top: 0;
  font-size: 1.5rem;
}

button {
  display: flex;
  background-color: transparent;
}
/* products end */

/* product details start */
.product-detail-item {
  display: flex;
  margin-bottom: 8rem;
}

.product-detail-img-box,
.product-detail-desc-box {
  background-color: var(--white-color);
}

.product-detail-desc-box {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 16rem 0 2.5rem -10rem;
  padding: 6rem 8rem;
  box-shadow: 0 0.1rem 0.2rem var(--shadow-color);
}

.product-detail-img-box {
  margin-top: 8rem;
  padding: 4rem;
}

.product-detail-img {
  width: 100%;
  padding-right: 5rem;
}

.name {
  font-size: 3rem;
  font-weight: 600;
}

.price {
  margin-top: 1rem;
  font-size: 2.2rem;
  font-weight: 600;
}

.desc {
  font-size: 1.5rem;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
  margin: 1.5rem 0;
}

.subdesc {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.like-icon {
  padding-top: 2rem;
}

.icon {
  user-select: none;
  font-size: 1.3rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  color: var(--white-color);
  margin-right: 0.5rem;
}

.icon:hover {
  opacity: 0.85;
}

.facebook {
  background-color: var(--facebook-color);
}

.twitter {
  background-color: var(--twitter-color);
}

.google {
  background-color: var(--google-color);
}

.pinterest {
  background-color: var(--pinterest-color);
}
/* product details end */

/* footer start */
.footer-img {
  width: 5rem;
}

.car-img {
  width: 6rem;
}

.pay-img {
  width: 30%;
}

.footer-top,
.footer-bottom {
  padding: 4rem 12rem;
}

.footer-top {
  background-color: var(--footer-bg-color);
}

.footer-bottom {
  justify-content: space-between;
  padding: 2rem 12rem;
}

.footer-item {
  display: flex;
}

.footer-p {
  font-size: 1.3rem;
}

.footer-bottom-left-box {
  height: 100%;
  display: flex;
  align-items: center;
}

.footer-bottom-right-box {
  text-align: end;
}

.footer-item-content {
  margin: 0 auto;
}

.footer-item-content h3 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--text-color);
  padding-bottom: 1rem;
}
/* footer end */

/* media queries start */
@media screen and (max-width: 1600px) {
  .product-item {
    margin: 0 auto 0.5rem;
  }
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 8px;
  }

  .container {
    padding: 3rem 6rem;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 7px;
  }

  .row.product-detail-item {
    display: block;
  }

  .product-detail-img-box {
    margin: 2rem auto;
  }

  .product-detail-desc-box {
    margin: 2rem auto;
    padding: 4rem;
  }

  .footer-img {
    margin-right: 0.8rem;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 5px;
  }

  .footer-item {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 4.1px;
  }

  .footer-item {
    display: block;
    margin-bottom: 1rem;
  }

  .footer-col {
    margin: 0 auto;
  }

  .footer-top {
    display: block;
    text-align: center;
  }
}
/* media queries end */
